doctype html
html(ng-app="todoApp")
  head
    title TKG TODO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js')
    //script(type='text/javascript' src='/javascripts/app.js')
    script(type='text/javascript' src='/javascripts/controllers/index_controller.js')

  body(ng-controller="todoController as vm")
    h1 TKG TODO
    p {{vm.todos}}
    .todoBody
      .col-md-6(ng-repeat="typeItem in vm.todos")
        .row
          h2{{typeItem.type}}
          ul(dnd-list="typeItem.todos")
            li(
              ng-repeat="todo in typeItem.todos"
              dnd-draggable="todo"
              dnd-effect-allowed="move"
              dnd-moved="typeItem.todos.splice($index, 1)"
            ){{todo.title}}


