doctype html
html(ng-app="todoApp")
  head
    title TKG TODO
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="todoController")
    h1 TKG TODO
    p {{todos}}

    script(type='text/javascript' src='/javascripts/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/app.js')
    script(type='text/javascript' src='/javascripts/controllers/index_controller.js')
