doctype html
html
  head
    title TKG TODO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js')

  body
    h1 TKG TODO
    todolist
    script(type='text/javascript' src='/javascripts/index.js')
