.todoBody
  h2 Todo List
  .row
    .col-md-4.panel.panel-default(ng-repeat="typeItem in vm.todos")
      h3{{typeItem.type}}
      button.addButton(ng-click="vm.addTodo(typeItem)") Add
      ul(dnd-list="typeItem.todos")
        li(
          ng-repeat="todo in typeItem.todos"
          dnd-draggable="todo"
          dnd-effect-allowed="move"
          dnd-moved="typeItem.todos.splice($index, 1)"
        )
          input(ng-model="todo.title" ng-change="vm.todoChanged(typeItem.type)")
          button(ng-click="vm.deleteTodo(typeItem, $index)") Delete
  h3 Debug
  p {{vm.todos}}
