.todoBody
  h2 Todo List
  .col-md-6(ng-repeat="typeItem in vm.todos")
    .row
      h3{{typeItem.type}}
      button(ng-click="vm.addTodo(typeItem)") Add
      ul(dnd-list="typeItem.todos")
        li(
          ng-repeat="todo in typeItem.todos"
          dnd-draggable="todo"
          dnd-effect-allowed="move"
          dnd-moved="typeItem.todos.splice($index, 1)"
        )
          input(ng-model="todo.title")
          button(ng-click="vm.deleteTodo(typeItem, $index)") Delete
  h3 Debug
  p {{vm.todos}}
